%h3
  = entry_title_format(DateTime.now)

%div.entry
  = form_for @entry, :url => user_entries_path(current_user, @entry) do |e|
    = e.text_area :body_text, :rows => "10"
    %br
    %button{ :type => 'submit', :class => 'submit pure-button pure-button-primary' }
      = t('new-entry.submit-form')