%div.entry

  %h3
    = entry_title_format(@entry.creation_date)

  %div.entry-body
    = simple_format(@entry.body_text)

%div.another-random
  = link_to 'Another?', user_entries_path(current_user, :random => true), :class => 'pure-button pure-button-primary'