<div class="entry">

	<input type="hidden" name="viewId" value=""/>
	<input type="hidden" name="entryId" value="{{ entry.id|default:'-1' }}"/>
	<input type="hidden" name="viewMode" value="{{ viewMode|default:'view' }}"/>					
	
	<div class="heading">
		<span class="dateWritten">
			{{ entry.dateWritten|date:"F j, Y" }}
		</span>
		<span class="headingSpacer">|</span>
		<span class="caption">
			{{ caption }}
		</span>
	</div>
	
	<div class="bodyContainer"> 
		
		<div class="bodyView">		
				{% include "journal/EntryBody.html" %}
		</div>
	
		<div class="bodyEdit">
				<form method="post" action="">
					<textarea class="bodyEditTextarea" cols="60" rows="10" value="">{{ entry.body }}</textarea>					
				</form>
		</div>
		
	</div>
	
</div>