{% extends 'Base.html' %}

{% block Head %}
	
	<script type="text/javascript" src="/content/js/apiAuth.js"></script>
	<script type="text/javascript" src="/content/js/entryUI.js"></script>
	<script type="text/javascript" src="/content/js/new.js"></script>

	<link rel="stylesheet" href="/content/css/entryUI.css" type="text/css"/>

{% endblock %}

{% block Title %}

	Gratefulness Journal: New entry for {% now "F jS, Y" %}

{% endblock %}

{% block Body %}

	<div id="outerContainer" style="position: relative;">

		<div id="entryContainer" style="position: absolute; top: 100px; left: 50px">
			{{ entryHtml }}
		</div>

		<a href="javascript://" id="saveButton" style="position: absolute; top: 310px; left: 50px">Save New Entry</a>

	</div>

	

{% endblock %}