div.main-content {

  padding-left: 38px;
  padding-right: 38px;

  width: 100%;

  h1 {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
  }

  h3 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  font-size: 3.0em;
}

form {
  button.submit {
    margin-top: 25px;
  }
}

div {
  .error_messages {
    li {
      color: #FF0000;
    }
  }
}