.entry {
	font-family: Helvetica, sans-serif;
	font-size: 0.85em;
	float: left;
}

.heading {
	margin-bottom: 10px;
	
}

.dateWritten {
	color: #BD2031;
}

.caption {

}

.bodyContainer {
	height: 180px;
	min-width: 330px;
	position:relative;	
}

.bodyView {
	/*background-color: #FF0000;*/	
	/* Use padding-left and padding-right to align with .bodyEdit */
	padding-left: 2px; 
	padding-top: 2px;
	position:absolute;
	left 0px;
	top 0px; 
}

.bodyEdit {
	/*background-color: #00FF00;*/
	position:absolute;
	left 0px;
	top 0px; 
}

.bodyEditTextarea {
	height: 165px;
}

.body {
	
}