<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	
<html>

<head>
	
	<script type="text/javascript" 
		src="/content/js/lib/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript"
		src="/content/js/lib/json/json2.js"></script>
	<script type="text/javascript"
		src="/content/js/lib/date.format.js"></script>
	<script type="text/javascript"
		src="/content/js/global_utils.js"></script>
	
	<link rel="stylesheet" href="/content/css/global.css" type="text/css"/>
	
	{% block Head %}
	{% endblock %}
	
	<title>
		
		{% block Title %}
		{% endblock %}
		
	</title>
	
</head>

<body>
	
	{% block Body %}
	{% endblock %}
	
</body>

</html>