%div#top-menu{ :class => 'pure-menu pure-menu-open pure-menu-horizontal' }

  %ul#top-menu-items
    %li
      = link_to 'thx.io', home_path
    - if current_user
      %li
        = link_to 'logout', logout_path

</div>