%div#top-menu{ :class => 'pure-menu pure-menu-open pure-menu-horizontal' }

  %ul#top-menu-items
    %li
      = link_to t('top-menu.site-title'), home_path
    - if current_user
      %li
        = link_to t('top-menu.logout'), logout_path
    %li
      = link_to t('top-menu.about'), about_path

</div>